* { 
    /* THIS RULE SET IS RESET CSS */
    /* *คือ universal selector */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* 
        box model ประกอบด้วย content padding border (ไม่รวม outline) และ margin
        ปกติ box-sizing : content-box; >> width & height จะหมายถึงส่วน content เท่านั้น
        แต่ box-sizing: border-box; >> width & height จะหมายถึง content+padding+border
    */
}
/* colors
    name >> red
    RGB >> rgb(255,0,0)
    GEX >> #ff0000
*/
/* Backgrounds */
background {
    background-color: green;
    /*  default : transparent >> same parent element
        custom : colors
    */
    background-image: url("image.png");
    /* can use more than 1 as >> url(""), url(""), url("")
        default : none
        custom : url("")
    */
    background-repeat: no-repeat;
    /* default : repeat >> repeat both X and Y
       custom : repeat-x, repeat-y, no-repeat
    */
    background-position: right top;
    /*  default : left top
        custom : X% Y%, Xpx Ypx, center, top, bottom, left, right, letf bottom...
        *when only top, bottom ->  horizontal is center
        *when only left, right -> verticle is center
    */
    background-attachment: fixed;
    /*  default : scroll >> bg move along with element
        custom : fixed,
                local >> bg move along with element's content
    */
    /* short */
    background: bg-color bg-image position/bg-size bg-repeat 
        bg-origin bg-clip bg-attachment initial or inherit;
}

/* Border */
border {
    
    border-width: 1px;
    /*  unit : px, pt, cm, em, etc
        use : 1px 1px 1px 1px >> for each edges (top > right > bottom > left)
                    1px 1px 1px >> for (top > left,right > bottom)
                    1px 1px >> for (top,bottom > left,right)
        default : 3px
    */
    border-style: solid;
    /*  use : Same border-width!!!!
        default : none
        custom : dotted, dashed, solid, double, groove, ridge, inset, outset, hidden
    */
    border-color: red green blue;
    /*  use : Same border-width!!!!
        default : transparent
        custom : colors
        
    */
    border-radius: 10px;
    /*  unit : %, px
        use : Same border-width!!!! but start with left-top corner
        default : 0    
    */
    /* short */
    border: border-width border-style border-color;
    /* use : for all edges 
       *you can use only width | style | color | style color | width style >> UP TO YOU!!!
    */
    border-top: border-width border-style border-color;
    border-right: border-width border-style border-color;
    border-bottom: border-width border-style border-color;
    border-left: border-width border-style border-color;
    /* use : for specific edge 
       *you can use SAME border:
    */ 
}

outline {
    /* outine ไม่ส่งผลต่อขนาดของ box(NOT a part of element dimension) ขนาดของ outline จะไม่ส่งผลต่ออะไรทั้งนั้น!!! */
    outline: red;
    outline-style: dotted;
    /* outline-style
        default : none
        custom : none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit
    */
    outline-offset: 10px;
    /* outline-ofset is space between border and outline DEFAULT is 0px */
    outline-width: 10px;
    /* outline-width is width of outline */
    outline : outline-color outline-style (outline-width or initial or inherit);
}

/* Margin */
/* margin can collapse
    For inline box
    ในแนวตั้ง ไม่มีผล
    ในแนวนอน มีผล, ไม่ทับซ้อนระหว่างพ่อลูก, ไม่ทับซ้อนระหว่างelement
    For block box
    ในแนวตั้ง มีผล, ทับซ้อนทั้ง พ่อ-ลูก และ element-element
    ในแนวนอน มีผล, ไม่ทับซ้อนระหว่างพ่อลูก, ทับซ้อนระหว่างelement
    **วิธีการแก้ไขการทับซ้อน
        พ่อลูก: มีborder, มีpadding
        element: เอาelementอื่นๆมาคั่น
*/
margin {
    margin: 10px 10px 10px;
    /*  unit : px, pt, cm, em, %, etc
        use : 1px 1px 1px 1px >> for each edges (top > right > bottom > left)
                    1px 1px 1px >> for (top > left,right > bottom)
                    1px 1px >> for (top,bottom > left,right)
    */
    margin-top: 10xp;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    /* To horizontally center the element within its container. use */
    margin: auto; 
    margin: 10px auto;
}

/* Padding
    สำหรับ Block box มีผลทั้งแนวตั้งและนอน แถมยังมีผลต่อ content หรือ element อื่นๆรอบข้าง
    สำหรับ Inline box มีผลทั้งแนวตั้งและนอน แต่เมื่อขยายแล้วจะไม่มีผลต่อสิ่งรอบข้างเลย(ขยายไปก็ทับ ไม่ได้ไปบีบหรือดันรอบข้าง)
*/
padding {
    padding: 10px 10px 5px;
    /*  unit : px, pt, cm, em, %, etc
        use : 1px 1px 1px 1px >> for each edges (top > right > bottom > left)
                    1px 1px 1px >> for (top > left,right > bottom)
                    1px 1px >> for (top,bottom > left,right)
    */
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

/* Width and Height */
width, height {
    /* fixed */
    width: 200px;
    /* fixed min */
    min-width: 200px;
    /* fixed max */
    max-width: 200px;
    /* fixed */
    height: 50px;
    /* fixed min */
    min-height: 50px;
    /* fixed max */
    max-height: 50px;
    /*  unit :  px, pt, cm, em, %, etc
        use : % of parent element
            *not include padding margin border
    */
}

text, font {
    color: blue;
    /* For text color */
    text-align: center;
    /* 
        use : ใช้จัดtextในelementนั้นๆ
        default : left
        custom : left, center, right, justify >> แผ่ให้เต็ม box
    */
    /* vertical-align: (baseline|length|sub|super|top|text-top|middle|bottom|text-bottom|initial|inherit); */
    text-decoration: none;
    /*
        default : none
        custom : none|underline|overline|line-through|initial|inherit
    */
    text-transform: none;
    /*
        default : none
        custom : none|capitalize|uppercase|lowercase|initial|inherit
    */
    text-indent: 10px;
    /* use : indent first line in block */
    letter-spacing: 2px;
    /* space between letter */
    line-height: 2;
    /*  use : space between line
        default : normal
        custom : normal|number|length|initial|inherit
            number > multiply current font size
            length > px, em, pt, cm, %, etc.
    */
    word-spacing: 10px;
     /* 
        use : space between words
        default : normal
        custom : normal|length|initial|inherit;
            length > px, em, pt, cm, %, etc.
     */
     text-shadow: 2px 2px black;
     /* use : x y color
        default : none
        custom : h-shadow v-shadow blur-radius color|none|initial|inherit
     */
     text-overflow: clip;
     /* use : ใช้เมื่อ text ล้น block
        default : clip
        custom : clip|ellipsis|string|initial|inherit;
            ellipsis > เติม ... ต่อท้าย
            string > ใส่สตริงเป็น property value แล้วจะใช้สตริงนั้นแสดงแทน
     */

     font-family: "font 1" font2 font3;
     font-size: 2em;
     /*
        default : normal;
        custom : medium|xx-small|x-small|small|large|x-large|xx-large|smaller|larger|length|initial|inherit;
            length > px, em, pt, cm, %, etc.
     */
     font-weight: bold;
     /*
        default : normal
        custom : normal|bold|bolder|lighter|number|initial|inherit
            number > 100|200|300| ... *400 is normal
     */
     font-style: italic;
     /*
        default : normal
        custom :  normal|italic|oblique|initial|inherit
     */
}
link, a:link, a:visited, a:hover, a:active {
    /*
        //add style when...
        :link >> default
        :visited >> เคยกดไปแล้ว
        :hover >> เอาเมาส์มาวาง
        :active >> โดนคลิก
    */
    cursor: default;
}
cursor {
    cursor: default;
    /*
        use : ใช้เปลี่ยน cursor เวลาที่เอามเมาส์ไปชี้ที่ element นั้นๆ
        default : default
        custom : auto,crosshair,default,e-resize,help,move,n-resize,ne-resize,nw-resize,pointer,
            progress,s-resize,se-resize,sw-resize,text,w-resize,wait,
    */
}

list, ul, ol {
    list-style-type: none;
    /*
        Type
        For all : none, inherit
        For ul : circle, disc, square
        For ol : armenian, cjk-ideographic, decimal, decimal-leading-zero, georgian, hebrew, hiragana, hiragana-iroha, katakana, katakana-iroha
                ,lower-alpha, lower-greek, lower-latin, lower-roman, upper-alpha, upper-latin, upper-roman
    */
    list-style-position: outside;
    /*
        use : กำหนดตำแหน่งของสัญลักษณ์หน้า list
        default : outside >> อยู่ข้างนอก border ของ li
        custom : inside >> อยู่ใน border ของ li , initial, inherit
    */
    list-style-image: url('sqpurple.gif');
    /*
        use : ใช้รูปแทน style list
        default : none
        custom : initial, inherit, url('path/.gif, .jpg, .png, ...')
    */
}

 /* THE TABLE !!! */
 table {
     empty-cells: hide;
     /* use : ใช้จัดการกับ cell (th, td) ที่ไม่มีข้อมูลอะไรข้างใน
        default : show
        custom : show, hide, initial, inherit
     */
    table-layout: fixed;
    /*  use : จัดการขนาดของ cell, fixed >> ห้ามขยับ, auto >> ขยายตาม content
        default : auto
        custom : fixed, initail, inherit
    */
    border-spacing: 2px; /* default : 2px*/
    border-collapse: collapse;
    /* use : ใช้ยุบรวม border ของ table, th, td ไว้ด้วยกัน
       default : separate
       custom : separate|collapse|initial|inherit
    */
 }
caption {
    caption-side: bottom;
    /*  use : ใช้สำหรับจัดวาง caption ของ table
        default : top
        custom : top, bottom, initail, inherit
    */
}
/* TABLE EXAMPLE!!! */
table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
   border: 1px solid black;
}
th, td {
    height: 20px;
    text-align: center;
    padding: 10px;
    color: red;
}
tr:hover {
    background-color: #f5f5f5
}
tr:nth-child(odd), tr:nth-last-child(), tr:nth-child(even) {
    background-color: #f2f2f2;
}

display, visibility {
    display: none; /* ไม่ใช่มองไม่เห็น แต่หายไปเลย */
    display: block; /* block box */
    display: inline; /* inline box */
    display: inline-block; /* block and float left */
    /* custom : initial, inherit, flex, ...  */
    visibility: hidden; /* มีอยู่ แต่มองไม่เห็น */
    visibility: visible; /* มองเห็นปกติ Default */
    visibility: collapse; /* ทำให้ tr เป็น hidden */
}